<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <title>
        {% block title %}
        Title
        {% endblock title %}
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
                {% block navbar_brand %}
                Navbar
                {% endblock navbar_brand %}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {% block navbar_navs %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'basic_app:register' %}">Registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'basic_app:login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% endblock navbar_navs %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block body %}
        {% endblock body %}
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>

</html>
